.search-item {
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid #f48042;
  text-align: left; }
  .search-item:hover {
    cursor: pointer; }
  .search-item:hover .search-item-add {
    display: inline-block;
    position: absolute;
    right: .2rem; }

.search-item-add {
  display: none; }

.search-warning {
  font-weight: 700;
  color: #c44404; }
