.control {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [5];
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  bottom: 0; }
  .control__item {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center; }
