@import '../../styles/colors';

.track-head {
  text-align: center;

  h2 {
    margin-top: 3rem;
  }
}

.track-button-control {
  position: fixed;
  right: 1rem;
  top: 1rem;

  svg:hover {
    cursor: pointer;
  }
}

.track-list {
  height: 700px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1.5rem;
    background-color: $text-color;
  }

  &::-webkit-scrollbar-thumb {
    width: 1.5rem;
    background-color: $color-scrollbar;
  }
}