$bg-color-top: #6e4a54;
$bg-color-bottom: #2b282d;
$text-color: #fff;
$active-button: #f48042;
$color-progress: #b75c01;
$color-progress-bg: #efc092;
$color-scrollbar: #343434;

$color-sign-bg: #211F2E;
$color-sign-btn: #0371B8;
$color-sign-input: #e6e8ed;