@import '../../styles/colors';
@import '../../styles/base';

.app {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to left bottom, $bg-color-top, $bg-color-bottom);
  color: $text-color;

  &-container {
    height: 100%;
  }
}

.loader {
  width: 30rem;
  margin: 0 auto;

  img {
    width: 100%;
  }
}