ul, li {
  list-style: none; }

button {
  border: none;
  outline: none; }

.app {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to left bottom, #6e4a54, #2b282d);
  color: #fff; }
  .app-container {
    height: 100%; }

.loader {
  width: 30rem;
  margin: 0 auto; }
  .loader img {
    width: 100%; }
