.track-progress {
  width: 100%;
  position: absolute;
  bottom: 20%; }

progress {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff; }
  progress::-moz-progress-bar {
    background: #f1095a;
    border-radius: 8px; }
  progress::-webkit-progress-bar {
    background: #fff; }
  progress::-webkit-progress-value {
    background: #f1095a;
    border-radius: 8px; }
