@import '../../../styles/colors';

.track-progress {
  width: 100%;
  position: absolute;
  bottom: 20%;
}

progress {
  display: block;
  width: 100%;
  height: 5px;
  background-color: $text-color;

  &::-moz-progress-bar {
    background: $color-progress;
    border-radius: 8px;
  }
  &::-webkit-progress-bar {
    background: $text-color;

  }
  &::-webkit-progress-value {
    background: $color-progress;
    border-radius: 8px;
  }
}